@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h3>Engineer Details</h3>
<hr />
<p>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</p>

@if(@Model.Machines.Count == 0)
{
  <p> This engineer is not authorized to repair any Machines yet!</p>
}
else
{
  <p>Machines this engineer is authorized to repair: </p>
  <ul>
    @foreach(var join in Model.Machines)
    {
      <li>@join.Machine.MachineName</li>
    }
  </ul>
}

<p>@Html.ActionLink("Back to Engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId})</p>
<p>@Html.ActionLink("Add Machine to This Engineer", "Create", "Machines", new { id = Model.EngineerId})</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>