@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2> Edit Engineer</h2>

<h4> Edit this Engineer's Name: @Html.DisplayFor(model => model.EngineerName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.EngineerName)
  @Html.EditorFor(model => model.EngineerName)

  <input type="submit", value="Save Changes" />
}

<p>@Html.ActionLink("Back to List of Engineers", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
<p>@Html.ActionLink("Delete this Engineer", "Delete", new { id = Model.EngineerId })</p>